.card {
  box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.cardTitle {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

.date {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 auto;
  margin-bottom: 10px;
}

.cardBody {
  display: grid;
  grid-template-rows: 3rem 3rem;
  grid-template-columns: 1fr 1fr;
  column-gap: 1.5rem;
  margin: 0 0;
}

.topRow {
  margin-bottom: 0;
}

.bottomRow {
  margin-top: 0;
}

.button {
  width: 100px;
  background: rgb(7, 50, 90);
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
  border-radius: 10px;
}