/* .listItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
} */
.listItem {
  font-size: 1rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-self: center;
  column-gap: 1rem;
  row-gap: 25px;
}