.card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  box-shadow: 0 8px 16px 0 rgba(2, 2, 2, 0.2);
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}