.preferences {
  height: 100vh;
  padding-left: 20px;
  background-color: white;
  color: black;
  width: 100vw;
  position: fixed;
  left: -100%;
  z-index: 1000;
  animation: slide-open 0.5s forwards;
}

@keyframes slide-open {
  100% { left: 0 }
}

.sidebar.close {
  left: -100%;
}

.button {
  width: 100px;
  background: rgb(7, 50, 90);
  padding: 10px;
  margin: 5px;
  color: white;
  font-size: 0.85rem;
  text-decoration: none;
  border-radius: 10px;
}